<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>710087213216-o14f8ho589viblknj7ipm8tk9r4c3jro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710087213216-o14f8ho589viblknj7ipm8tk9r4c3jro</string>
	<key>API_KEY</key>
	<string>AIzaSyAHLlFYAQ6SHfBfLaBGmns1JmY1gz74kck</string>
	<key>GCM_SENDER_ID</key>
	<string>710087213216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Unimelb.InstagramViewer</string>
	<key>PROJECT_ID</key>
	<string>comp90018instagramviewer</string>
	<key>STORAGE_BUCKET</key>
	<string>comp90018instagramviewer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710087213216:ios:5a045b2d141f5f49</string>
	<key>DATABASE_URL</key>
	<string>https://comp90018instagramviewer.firebaseio.com</string>
</dict>
</plist>